<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885203295855-fhk3dfvmvub5tjnltbb6tdbdune5nns0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885203295855-fhk3dfvmvub5tjnltbb6tdbdune5nns0</string>
	<key>API_KEY</key>
	<string>AIzaSyDHddl-JU1nvD5yR17U1rBgIkv7SR7yUzU</string>
	<key>GCM_SENDER_ID</key>
	<string>885203295855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noyohelsinki.eMarketFlutter</string>
	<key>PROJECT_ID</key>
	<string>e-market-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>e-market-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885203295855:ios:e67d1055a88eb76f49b79a</string>
</dict>
</plist>